@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
header nav #menu{
    width: 137px;
    height: 131px;
    margin-left: 30px;
    top:200px;
}
.nuevoFondo{
    width: 100%;
    height: 100vh;
    background-image: url(/images/PMC001_0009_レイヤー-10.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -4;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/images/PMC001_0009_レイヤー-10.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -4;
}
body main #bienvenido h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-top: 150px;
}
body main #bienvenido img{
    width: 532px;
    height: 212px;
    margin-top: 20px;
}
body main #infoBienvenida h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 42px;
    width: 690px;
    margin-left: 19%;
}
main{
    position: absolute;
    left: 30%;
    width: 1103px;
    height: 553px;
    margin-left:-18%;
    top:80px;
    text-align: center;
    background: rgba(68, 213, 222, 0.72);
    border-radius: 66px;
}
.mainAzul{
    position: absolute;
    left: 30%;
    width: 1103px;
    height: 553px;
    margin-left:-18%;
    top:80px;
    text-align: center;
    background: rgba(68, 213, 222, 0.72);
    border-radius: 66px;
}
#flecha{
    display: none;
}
.div-shadow{
    width: 90px;
    height: 90px;
    margin-top: 30px;
    padding: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    z-index: 4;
}
.div-shadow img{
    width: 90px;
    height: 90px;
}
.div-shadow p{
    font-family: 'Press Start 2P', cursive;
    margin-top: 60px;
    font-size: 12px;
}
.card-pokemon{
    width: 20%;
    height: 70%;
    margin: 15px;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
} 

.card-pokemon img{
    width: 100px;
    height: 100px;
    border: 1px solid #F2A81D ;
    border-radius: 50px;
    background-color: #F2A81D;
    position: relative;
    top: 8%;
    left: 0%;
}
.card-pokemon .numPokemon{
  position: relative;
    top: 20px;
    right: 50px;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
}
.card-pokemon .namePokemon{
    position: absolute;
    top:130px;
    left: 90px;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
}
.card-pokemon .aboutPokemon{
    position: relative;
    top: 10px;
    font-size: 15px;
    font-family: Prompt;
    text-align: justify;
}
.main-hidden{
    background:transparent;
}
.size{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    border-bottom: 2px solid black;
}
.resistant{
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin-right:20px;
    text-align: center;
    line-height: 12px;
    font-size: 9px;
    margin-top: 60px;
}
.weaknesses{
    font-family: 'Press Start 2P', cursive;
    display: block;
    text-align: center;
    line-height: 12px;
    font-size: 9px;
    margin-top: 20px;
}
.pre-evolution,.evolution,.special-attack {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 20px;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    top:20%;
}
footer{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100vmax;
    background: rgba(38, 130, 136, 0.86);
}
footer p{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
}
@media screen and (max-width: 414px){
    header{
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
    }
    body{
        padding: 0px;
        width: 100%;
        height: 896px;
        background-image: url(/images/wp7668269.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
    }
    main{
        width: 314px;
        height: 396px;
        margin-left:-20%;
        top:290px;
        background: rgba(10, 21, 114, 0.72);
        border-radius: 66px;
    }
    body main #bienvenido h1{
        font-family: Press Start 2P;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 140px;
    }
    body main #bienvenido img{
        width: 233px;
        height: 96px;
        left: 90px;
        top: 232px;
    }
    body main #infoBienvenida h3{
        width: 242px;
        height: 55px;
        margin-top: 18px;
        font-family: Press Start 2P;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        margin-left: 12%;
        color: #FFFFFF;
    }
    #flecha{
        display: block;
        width: 56px;
        height: 60px;
        left: 179px;
        margin-top: -300px;
        margin-left: 40%;
        transform: rotate(180deg);
    }
    header nav #menu{
        width: 137px;
        height: 131px;
        position: relative;
        margin-left: 32%;
        top: 120px;
    }
    .nuevoFondo{
        width: 100%;
        height: 896px;
        background-image: url(/images/wp7668269.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        z-index: -4;
    }
    .div-shadow{
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-top:2px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        z-index: 4;
    }
    .div-shadow img{
        width: 50px;
        height: 50px;
    }
    .div-shadow p{
        font-family: 'Press Start 2P', cursive;
        margin-top: 40px;
        font-size: 8px;
        color: #FFFFFF;
    }
    .card-pokemon{
        width:45%;
        height: 55%;
        margin: 3px;
        background: rgba( 255, 255, 255, 0.60 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        display: inline-block;
    } 
    
    .card-pokemon img{
        width: 60px;
        border: 1px solid #F2A81D ;
        border-radius: 50px;
        background-color: #F2A81D;
        height: 60px;
        position: relative;
        top: 10%;
        left: 0%;
    }
    .card-pokemon .numPokemon{
      position: relative;
        top: 13px;
        right: 0px;
        font-size: 10px;
        font-family: 'Press Start 2P', cursive;
    }
    .card-pokemon .namePokemon{
        position: absolute;
        top:80px;
        left: 0px;
        font-size: 8px;
        font-family: 'Press Start 2P', cursive;
    }
    .card-pokemon .aboutPokemon{
        position: relative;
        top: 8px;
        font-family: Prompt;
        font-size: 10px;
        text-align: justify;
        width: 80%;
        left: 15px;
    }
    .main-hidden{
        background:transparent;
    }
    .size{
        font-family: 'Press Start 2P', cursive;
        font-size: 7px;
        line-height: 10px;
        margin: 8px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 7%;
        border-bottom: 0.5px solid black;;
    }
    .resistant,.weaknesse{
        font-family: 'Press Start 2P', cursive;
        font-size: 7px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 15px;
        align-items: center;
        display: inline;
        position: relative;
        top: 4%;
    }
    .pre-evolution,.evolution,.special-attack {
        font-family: 'Press Start 2P', cursive;
        font-size: 8px;
        padding: 20px;
        line-height: 8px;
        display: inline-block;
        justify-content: space-between;
        position: relative;
        top:7%;
    }
    footer{
        width: 100%;
        height: 32px;
        left: 0px;
        top: 864px;
        background: rgba(10, 21, 114, 0.81);
    }
    footer p{
        left: 62px;
        top: 874px;
        font-family: Press Start 2P;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: #FFFFFF;
        text-align: center;
    }
    
}