@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
body main #bienvenido h1{
    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}
main{
    position: absolute;
    top: 10%;
    left: 30%;
}
main img{
    position: relative;
    left: 20%;
}
 main #infoBienvenida h3{
    position: relative;
    top: 250px;
    left: 0;
}
.menuSearch {
    position: absolute;
    left: 5%;
    top: 100px;
    
}
nav #menu{
    
    width: 150px;
    height: 150px;
    transition: 0.5s;
}
 nav #menu:hover{
    transform: translateY(20px);
}

#flecha{
    visibility: hidden;
}
footer{
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 40%;
    text-align: center;

}
.div-shadow{
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px;
    margin: 0 1em 1em 0;
    padding: 40px;
    position absolute;
    display: inline-block;

}
.card-pokemon{
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px;
    margin: 0 1em 1em 0;
    padding: 40px;
    position absolute;
    display: inline-block;

}

@media screen and (max-width: 380px){
    header{
        width: 380px;
    }
    header #menu{
        width: 100px;
        height: 100px;
        margin-top: 350px;
        margin-left: 30%;
        position:fixed;
    }
    header #menu img{
        width: 100%;
        height: 100%;

    }
    body{
        width: 380px;
        height: 500px;
        background-image:url(/images/a36106f5c9db1aaa5a29149854f4975f.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    body main #bienvenido{
        display:flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 380px;
    }
    body main #bienvenido h1{
        font-family: 'Thasadith', sans-serif;
        font-size: 30px;
        font-weight: lighter;
        margin-top: 60px;
        color: aliceblue;
        margin-left: 30%;
        width: 380px;
    }
    body main #bienvenido img{
        margin-top: 10px;
        width: 230px;
        margin-left: 20%;
    }
    body main #infoBienvenida{
        background-color:rgba(221, 223, 216, 0.7); 
        width: 200px;
        height: 140px;
        margin-left: 25%;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 8px 10px black;
    }
    body main #infoBienvenida h3{
        text-align: center;
        font-size: 16px;
        padding-top: 15px;
        padding-left: 8px;
        padding-right: 8px;

    }
    body main #infoBienvenida img{
        border-radius: 80px;
        width: 50px;
        height: 50px;
        margin-left: 80px;
    }
    footer{
        width: 380px;
        background-color:rgba(221, 223, 216, 1);
        margin-top: 90%;
    }
    footer p{
        font-family:'Thasadith', sans-serif;
        color: black;
        font-size: 15px;
        font-weight: 800;
        text-align: center;
    }
}