@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
header nav #menu{
    width: 137px;
    height: 131px;
    left: calc(50% - 137px/2 - 410.5px);
    top: 214px;
    z-index: 5;
}
.nuevoFondo{
    width: 100%;
    height: 100vh;
    background-image: url(../images/PMC001_0009_レイヤー-10.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -4;
}
body{
    width: 100%;
    overflow: auto;
    background-image: url(../images/PMC001_0009_レイヤー-10.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -4;
}
body main #bienvenido h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-top: 150px;
}
body main #bienvenido img{
    width: 532px;
    height: 212px;
    margin-top: 20px;
}
body main #infoBienvenida h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 42px;
    width: 690px;
    margin-left: 19%;
}
main{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 1100px;
    height: 500px;
    left: calc(50% - 1103px/2 - 0.5px);
    top: 95px;
    text-align: center;
    background: rgba(68, 213, 222, 0.72);
    border-radius: 66px;
    

    
}
.main-hidden{
    background:transparent;
        
}

#flecha{
    display: none;
}
.div-shadow{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    padding: 40px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    z-index: 4;
    
}
.div-shadow img{
    width: 50px;
    height: 50px;
}
.div-shadow p{
    font-family: 'Press Start 2P', cursive;
    margin-top: 60px;
    font-size: 12px;
}
.back-pokemon{
    font-family: 'Press Start 2P', cursive;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
   -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display:inline-block;
    backface-visibility: hidden;
      
}

.front-pokemon{
    width: 20%;
    height: 80%;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
   -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display:inline-block;
    backface-visibility: hidden;
    transition: all 0.5s ease;
    
}
.front-pokemon:hover{
  transform: rotateY(180deg);
}
 
.front-pokemon img{
    background-color:#FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10%;
    left: 0%;
}
.front-pokemon .numPokemon{
  position: relative;
    top: 20px;
    right: 5px;
    font-size: 20px;
}
.front-pokemon .namePokemon{
    position: absolute;
    top:160px;
    left: 30px;
    font-size: 15px;
}
.front-pokemon .aboutPokemon{
    position: relative;
    top: 20px;
}
footer{
    position: absolute;
    width: 100%;
    height: 38px;
    top:102%;
    background: rgba(38, 130, 136, 0.86);
}
footer p{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
}
.size{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    border-bottom: 2px solid black;;
}
.resistant,.weaknesse{
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    display: inline;
    justify-content:space-around;
    position: relative;
    top: 15%;
    

}
.pre-evolution,.evolution,.special-attack {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 20px;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    top:20%;
    
    
} 

/*@media screen and (max-width: 380px){
    header{
        width: 380px;
    }
    .menuSearch {
        position: absolute;
        margin-left: 35%;
        margin-top: 308px;
        
    }
    .menuSearch #type1{
        position:fixed;
    }
    .menuSearch .lista{
        visibility: hidden;
    }
    .menuSearch li:hover{
        transform: translateX(0px);
    }
    body{
        width: 380px;
        height: 800px;
        background-image:url(/images/unnamed.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    body main #bienvenido{
        display:flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 380px;
    }
    body main #bienvenido h1{
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
        font-weight: lighter;
        margin-top: 60px;
        color: black;
        margin-left: 30%;
        width: 380px;
    }
    body main #bienvenido img{
        margin-top: 10px;
        width: 230px;
        margin-left: 20%;
    }
    body main #infoBienvenida{
        background-color:rgba(221, 223, 216, 0.7); 
        width: 200px;
        height: 140px;
        margin-left: 25%;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 8px 10px black;
    }
    body main #infoBienvenida h3{
        text-align: center;
        font-size: 16px;
        padding-top: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }
    body main #infoBienvenida img{
        border-radius: 80px;
        width: 50px;
        height: 50px;
        margin-left: 35%;
    }
    footer{
        width: 380px;
        background-color:rgba(221, 223, 216, 1);
        margin-top: 100vh;
    }
    footer p{
        font-family:'Press Start 2P', cursive;
        color: black;
        font-size: 15px;
        font-weight: 800;
        text-align: center;
    }
}*/